@import url(./fonts.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg: #040D1F;
    --orange: #F18128;
    --black: #000;
    --comf: 'Comfortaa', sans-serif;
    --monts: 'Montserrat', sans-serif;
    --robo: 'Roboto', sans-serif;
    --w: #fff;
}

body {
    background: var(--bg);
    font-family: var(--comf);
    color: var(--w);
}

.header__top {
    padding: 20px 0;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.top__cinema {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.top__p {
    max-width: 166px;
    font-family: var(--comf);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.top__item {
    font-size: 50px;
    animation: rotate infinite 3s;
}

.logo__img {
    animation: rotate infinite 3s;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__nav {
    padding: 30px 0;
    background: #010305CC;
}

.logo {
    display: flex;
    align-items: flex-end;

}

.logo__p {
    font-family: var(--comf);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: white;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.nav__link {
    font-family: var(--monts);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: white;
    transition: 0.3s;
    position: relative;

}

.nav__link::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: -42px;
    background: #ED8E00;
    left: 50%;
    transition: 0.3s;
    transform: translate(-50%);
}

.nav__link:hover {
    color: #ED8E00;
}

.nav__link:hover.nav__link::after {
    width: 100%;
}



.banner {
    height: 80vh;
    position: relative;
    background: url(../img/kong.png) no-repeat center right/cover;
    z-index: 10;
}

.banner__abs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #070F19BF;
    z-index: -1;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);

    }
}

.baner__wrap {
    display: flex;
    align-items: center;
}

.banner__h {
    font-family: var(--monts);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 30px;
}

.banner__p {
    font-family: var(--monts);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #C8C8C8;
    margin-bottom: 50px;
}

.banner__links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn {
    background: var(--orange);
    border-radius: 4px;
    font-family: var(--robo);
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    color: #000000;
    padding: 17px 48px;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover {
    background: var(--bg);
    color: white;
}

.films {
    padding: 60px 0 77px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

.heading {
    font-family: var(--comf);
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
    margin-bottom: 54px;
}

.card__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.card {
    background: url(../img/card1.png) no-repeat top center/cover;
    max-width: 330px;
    height: 367px;
    width: 100%;
    min-width: 250px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 14px 19px;
    position: relative;
    z-index: 10;
}

.card:nth-child(2) {
    background: url(../img/card2.png) no-repeat center/cover;
}

.card:nth-child(3) {
    background: url(../img/card3.png) no-repeat center/cover;
}

.card:nth-child(4) {
    background: url(../img/card4.png) no-repeat center/cover;
}

.card__bg {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card__icon {
    font-size: 40px;

}

.card__time {
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    padding: 7px 27px;
    font-family: var(--monts);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    margin-bottom: 30px;
}

.card__h {
    font-family: var(--monts);
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 12px;
}

.card__p {
    font-family: var(--robo);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.trailer {
    padding: 42px 0 80px;
    position: relative;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
}

.video {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.trailer__desc {
    max-width: 550px;
    width: 100%;

}

.trailer__post {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.trailer__p {
    font-family: var(--robo);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: black;
    margin: 51px 0 50px;
}

.collections {
    padding: 61px 0 63px;
}

.collections__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collect__card {
    background: url(../img/collect1.png) no-repeat center/cover;
    max-width: 350px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    height: 193px;
    overflow: hidden;
}

.collect__bg {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.lines {
    position: absolute;
    width: 97%;
    height: 94%;
    top: 7px;
    left: 6px;
    z-index: 10;
    transform: scale(1.5);
    transition: 0.3s;
}

.collect__body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.collect__icon {
    font-size: 40px;
}

.collect__card:hover .lines {
    transform: scale(1);
}

.collect__body {
    transition: 0.3s;
}

.collect__card:hover .collect__body {
    transform: scale(1.3);
}

.collect__card:nth-child(2) {
    background: url(../img/collect2.png) no-repeat center/cover;
}

.collect__card:nth-child(3) {
    background: url(../img/collect3.png) no-repeat center/cover;
}

.series__game {
    max-width: 1114px;
    height: 436px;
    width: 100%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/gameofth.png) no-repeat center/cover;
    border-radius: 6px;
    position: relative;
    z-index: 10;

}

.series__bg {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.series__h {
    font-family: var(--comf);
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    color: white;
}

.series__p {
    font-family: var(--comf);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px;
}

.series_wrap {
    display: flex;
    margin-top: 30px;
    margin-bottom: 63px;
}

.series__wanda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/scale1.png) no-repeat center/cover;
    width: 540px;
    height: 404px;
    position: relative;
    z-index: 10;
}

.wanda__h {
    font-family: var(--comf);
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 20px;
    color: white;
}

.wanda__bg {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.series__assortment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 30px 30px;
}

.assortment__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/flesh.png) no-repeat center/cover;
    width: 255px;
    height: 190px;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
}

.assortment__bg {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.assortment__h {
    font-family: var(--comf);
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 19px;
    color: white;
}

.assortment__card:nth-child(2) {
    background: url(../img/trailer.png);
    margin-left: 280px;
}

.assortment__card:nth-child(3) {
    background: url(../img/gotem.png);
    margin-top: 214px;
}

.assortment__card:nth-child(4) {
    background: url(../img/witcher.png);
    margin-left: 280px;
    margin-top: 214px;
}

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    display: flex;
    align-items: center;
}
.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}